/* Navbar base styles */
.navbar {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    transition: all 0.5s ease;
    z-index: 1000;
  }
  

  
  /* Nav items on the left and right */
  .nav-items-left,
  .nav-items-right {
    display: flex;
    gap: 2rem;
  }
  
  .nav-items-left a,
  .nav-items-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
  }
  
  .nav-items-left a:hover,
  .nav-items-right a:hover {
    color: #b0b3b8;
  }

/* Logo container styles */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; /* Center vertically relative to the page height */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the container itself */
    transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease;
    z-index: 10; /* Ensure it's above other content */
  }
  
  
  
  .logo-container img {
    width: 48vw; /* Large size for center logo */
    height: auto;

    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  }
  
  /* When scrolled: Move the logo to the navbar */
  .logo-container.logo-scrolled {
    position: fixed;
    top: 0.5vw; /* Move to the top center of the navbar */
    left: 50%;
    transform: translate(-50%, 0); /* Keep horizontally centered */
    width: 5vw; /* Adjust width to fit the navbar */
    z-index: 1003;
  }
  
  .logo-container.logo-scrolled img {
    width: 10vw; /* Small size for navbar */
    height: auto;
    transform: scale(1); /* Ensure it maintains original proportions */
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 1024px) {
    .nav-items-left,
    .nav-items-right {
      display: none;
    }
  
    .burger-menu {
      display: flex;
      font-size: 1.5em;
      cursor: pointer;
      color: #fff;
    }
  
    .nav-items.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #000;
      padding: 1rem;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
    }
  }
  