.main {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure the parent div fills the container (adjust as needed) */
  } 

  .main div img {
    position: relative;
    padding: 2vw;
    width: 40vw;
    height: 15vw;
    z-index: 11;
  }
  
  .video-container {
    position: absolute;
    width: 100%;
    height: 100vh; /* Make it full screen */
    overflow: hidden; /* Ensure no overflow */
    right: 0;
    top: 0;
}

.main-vid {
    position: absolute;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1; /* Keep it behind the overlay */
}